<div class="row">
  <div class="col-md-12">
    <h2 class="head-line text-center">収入記録詳細</h2>
  </div>
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <table class="table">
        <tr>
          <td>金額</td>
          <td><%= @income.amount %>円</td>
        </tr>
        <tr>
          <td>カテゴリ</td>
          <td><%= @income.income_type.type_name %></td>
        </tr>
        <tr>
          <td>日付</td>
          <td><%= @income.date %></td>
        </tr>
        <tr>
          <td>メモ</td>
          <td><%= @income.note %></td>
        </tr>
      </table>
      <div>
        <%= attachment_image_tag @income, :image, size: "300x300", fallback: "kakeiboo_icon.png", class: "bd-placeholder-img card-img-bottom" %>
      </div>
      <div class="d-flex">
        <%= link_to income_path, method: :delete do %>
          <div class="fas fa-trash-alt fa-lg ml-4"></div>
        <% end %>
        <%= link_to edit_income_path(@income) do %>
          <div class="fas fa-edit fa-lg ml-4"></div>
        <% end %>
      </div>
    </div>
  </div>
</div>