<h1>支出記録詳細</h1>
<div>
  <%= @expense.amount %>円
  <%= @expense.expense_type.type_name %>
  <%= @expense.date %>
  <%= @expense.note %>
  <%= attachment_image_tag @expense, :image, size: "100x100", fallback: "kominka.jpg" %>
</div>

<%= link_to "編集", edit_expense_path(@expense) %>
<%= link_to "削除", expense_path, method: :delete %>
